<header>    
    <nav>
        <button id="logout">Logout</button>
    </nav>
    <div>
        My Food Tracker
    </div>
    <div>
        Calorie Goal: {{calorieGoal}}/{{calGoal}}
    </div>
</header>
<div>Breakfast:
    {{#each brkfst as |brk|}}
     {{brk.name}}
    {{/each}}

</div>
<div>Lunch:
    {{#each lunch as |lun|}}
     {{lun.name}}
    {{/each}}
</div>
<div>Dinner:
    {{#each dinner as |din|}}
     {{din.name}}
    {{/each}}
</div>
<div>Snacks:
    {{#each snacks as |snack|}}
     {{snack.name}}
    {{/each}}
</div>

<script src="/js/logout.js"></script>